/* UTILITY */

:root{
    --light-blue: #B4D0E7;
    --white: #ffffff;
    --black: #000000;
    --blue: #0061FF;
    --grigio: #A1A1A2;
    --blue-link: #7460F5;
    /* colori per i box */

    --beige: #A2D39B;
    --viola: #0093CE;
    --marrone: #61082B;
    --rosso: #FF1C1C;
    --bianco-sporco: #F5F5F5;
    --rosso2: #D5001F;
    --viola2: #0D2481;
    --giallo: #FFD830;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox-row{
    display: flex;
    flex-flow: row wrap;
}



.debug{
    border: 1px solid black;
}

        /* HEADER */



header{
    background-color: var(--light-blue);
    max-width: 100%;
}

    /* MODIFICO NAV IN HEADER */

.nav-header{
    background-color: white;
    width: 100%;
    height: 80px;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
}

.space{
    padding-top: 9px;
}

.nav-header ul{
    list-style: none;
    width: calc(100% / 3);
    justify-content: space-around;
}
.no-wrap{
    display: flex;
    flex-wrap: nowrap;
}

.jumbo{
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 80px;
    position: relative;
    bottom: -70px;
}

.grey{
    color: grey;
}

.space{
    padding: 10px;
}

.logo-header{
    margin: 6px;
}

.btn{
    color: var(--white);
    background-color: var(--blue);
    text-align: center;
    max-height: 40px;
}



        /* ASSEGNO DIMENSIONI DENTRO JUMBO */

.jumbo-left{
    width: 20%;
}

.jumbo-right{
    width: 80%;
}

.jumbo-right img{
    width: 100%;
}

.dimension-items-jumbo{
    width: 100%; 
}

        /* MODIFICO ITEMS IN JUMBO */

h1{
    font-size: 78px;
    padding-bottom: 30px;
}

.freccia-hero{
    font-size: 50px;
    margin-bottom: 40px;
}

.btn-jumbo{
    color: var(--white);
    background-color: var(--blue);
    text-align: center;
    max-height: 40px;
    padding: 8px;
}





        /* MODIFICO FOOTER */

footer{
    width: 100%;
    background-color: var(--black);
    height: 500px;
    color: white;
    font-size: 15px;
}

.container-footer{
    max-width: 1000px;
    margin: 0 auto;
}

.container-footer ul{
    list-style: none;
    padding: 10px;
}
       
.nav-footer ul li{
    padding: 10px;
}

.titolo-lista-footer{
    font-size: 20px;
    font-weight: bold;
}

        /* CREO UNA LINEA CORTA METTENDO UN BOX CON COLORE BG SOPRA AD UN BOX CON MARGINE GRIGIO USANDO Z INDEX */
.linea-grigia{
    border: 1px solid grey;
    margin-top: 30px;
}

.box-linea-grigia{
    width: 850px;
    height: 20px;
    background-color: var(--black);
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 100;
}

.container-linea{
    position: relative;
}

        /* FINE LINEA */

.lingua{
    padding-top: 20px;
    color: grey;
    font-size: 15px;
}
      /* FINE FOOTER */



