/* UTILITY */

:root{
    --light-blue: #B4D0E7;
    --white: #ffffff;
    --black: #000000;
    --blue: #0061FF;
    --grigio: #A1A1A2;
    --blue-link: #7460F5;
    /* colori per i box */

    --beige: #A2D39B;
    --viola: #0093CE;
    --marrone: #61082B;
    --rosso: #FF1C1C;
    --bianco-sporco: #F5F5F5;
    --rosso2: #D5001F;
    --viola2: #0D2481;
    --giallo: #FFD830;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.debug{
    border: 1px solid black;
}

        /* HEADER */



header{
    background-color: var(--light-blue);
    max-width: 100%;
}

.nav-header{
    background-color: white;
    max-width: 100%;
    height: 80px;
    color: #000000;
}

.jumbo{
    margin: 0 auto;
    max-width: 1000px;


}

        /* ASSEGNO DIMENSIONI DENTRO JUMBO */

.jumbo-left{
    width: 30%;
    padding-top: 85px;
    padding-right: 30px;
}

.jumbo-right{
    width:  70%;
}

.jumbo-right img{
    width: 100%;
}

.dimension-items-jumbo{
    width: 100%;
    
}

        /* MODIFICO JUMBO */

h1{
    font-size: 78px;
}

.btn{
    color: var(--white);
    background-color: var(--blue);
    padding: 10px;
    text-align: center;
    max-height: 40px;
}

.freccia-hero{
    font-size: 50px;

}


